#logo{
    display: none;
}
#menuImg{
    display: block;
    height: 30px;
    cursor: pointer;
}

.icons{
    width: 30px;
    height: 30px;
}
ul{
    transform-origin: left;
    transition: 2000ms;
    transform: scale(0,1);
    position: absolute;
    flex-flow: column wrap;
    top: 45px;
    left: 0;
    width: 164px;
}
li{
    width: 164px;
    text-align: center;
    background-color: #261c17d5;
    padding: 10px 0px 10px 0px;
}

#resLogo{
    height: 45px;
    width: 72px;
    display: block;
}